@charset "UTF-8";
/* -- ▷ news */
.pt_x {
  padding-top: 60px;
}
@media only screen and (min-width: 768px) {
  .pt_x {
    padding-top: 99px;
  }
}

.social .addtoany_content {
  margin: 0;
}
.social .a2a_kit,
.social .a2a_menu,
.social .a2a_modal,
.social .a2a_overlay {
  display: flex;
  align-items: center;
}
.social .addtoany_list.a2a_kit_size_32 a:not(.addtoany_special_service) > span {
  width: 24px;
  height: 24px;
}
.social .addtoany_list a,
.social .widget .addtoany_list a {
  padding: 0;
  margin-left: 20px;
}
.social .addtoany_list.a2a_kit_size_32 a {
  display: flex;
  font-size: 24px;
  width: 24px;
  height: 24px;
  align-items: center;
}

.c_pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  background: #ffffff;
}
@media only screen and (min-width: 768px) {
  .c_pagination {
    padding: 159px 0 0 0;
  }
}
.c_pagination .wp-pagenavi {
  display: flex;
  justify-content: center;
  align-items: center;
}
.c_pagination .wp-pagenavi a[class^=larger] + .extend {
  display: none;
}
.c_pagination_number, .c_pagination_btn, .c_pagination_dots,
.c_pagination .page,
.c_pagination .extend,
.c_pagination .previouspostslink,
.c_pagination .nextpostslink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  cursor: pointer;
}
.c_pagination_dots,
.c_pagination .extend {
  width: 2.6rem;
  height: 2.6rem;
  cursor: initial;
  padding-right: 10px;
}
@media only screen and (min-width: 768px) {
  .c_pagination_dots,
.c_pagination .extend {
    padding-right: 20px;
  }
}
.c_pagination_number,
.c_pagination .page {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  font-weight: 500;
  line-height: 1.5;
  background: #EEF1F9;
  color: #002560;
  margin-right: 10px;
  transition: 0.5s;
}
@media only screen and (min-width: 768px) {
  .c_pagination_number,
.c_pagination .page {
    margin-right: 20px;
    width: 50px;
    height: 50px;
  }
}
.c_pagination_number:hover,
.c_pagination .page:hover {
  color: #ffffff;
  background: #002560;
  opacity: 0.8;
}
.c_pagination_number.active,
.c_pagination_number .current,
.c_pagination .page.active,
.c_pagination .page .current {
  background: #002560;
  color: #ffffff;
}
.c_pagination .current {
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  font-weight: 500;
  line-height: 1.5;
  margin-right: 10px;
  transition: 0.5s;
  background: #002560;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .c_pagination .current {
    width: 50px;
    height: 50px;
    font-size: 1.6rem;
    margin-right: 20px;
  }
}
.c_pagination .material-icons,
.c_pagination .previouspostslink,
.c_pagination .nextpostslink {
  position: relative;
  width: 15px;
  height: 15px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 0;
}
@media only screen and (min-width: 768px) {
  .c_pagination .material-icons,
.c_pagination .previouspostslink,
.c_pagination .nextpostslink {
    width: 50px;
    height: 50px;
  }
}
.c_pagination .material-icons:hover,
.c_pagination .previouspostslink:hover,
.c_pagination .nextpostslink:hover {
  opacity: 0.8;
}
.c_pagination .material-icons::after,
.c_pagination .previouspostslink::after,
.c_pagination .nextpostslink::after {
  position: absolute;
  top: 50%;
  content: "";
  width: 10px;
  height: 10px;
  border-left: 2px solid #002560;
  border-bottom: 2px solid #002560;
}
@media only screen and (min-width: 768px) {
  .c_pagination .material-icons::after,
.c_pagination .previouspostslink::after,
.c_pagination .nextpostslink::after {
    width: 15px;
    height: 15px;
    border-left: 3px solid #002560;
    border-bottom: 3px solid #002560;
  }
}
.c_pagination .material-icons.prev::after,
.c_pagination .previouspostslink.prev::after,
.c_pagination .nextpostslink.prev::after {
  left: -3px;
  transform: translateY(-50%) rotate(45deg);
}
@media only screen and (min-width: 768px) {
  .c_pagination .material-icons.prev::after,
.c_pagination .previouspostslink.prev::after,
.c_pagination .nextpostslink.prev::after {
    left: 6px;
  }
}
.c_pagination .material-icons.next::after,
.c_pagination .previouspostslink.next::after,
.c_pagination .nextpostslink.next::after {
  right: -3px;
  transform: translateY(-50%) rotate(-135deg);
}
@media only screen and (min-width: 768px) {
  .c_pagination .material-icons.next::after,
.c_pagination .previouspostslink.next::after,
.c_pagination .nextpostslink.next::after {
    right: 6px;
  }
}
.c_pagination .previouspostslink::after {
  left: -3px;
  transform: translateY(-50%) rotate(45deg);
}
@media only screen and (min-width: 768px) {
  .c_pagination .previouspostslink::after {
    left: 6px;
  }
}
.c_pagination .nextpostslink::after {
  right: -3px;
  transform: translateY(-50%) rotate(-135deg);
}
@media only screen and (min-width: 768px) {
  .c_pagination .nextpostslink::after {
    right: 6px;
  }
}

.detail_frame {
  width: 100%;
  max-width: 820px;
  padding: 0 20px;
  margin: 0 auto;
}
.detail_frame .cate {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.45;
}
@media only screen and (min-width: 768px) {
  .detail_frame .cate {
    font-size: 2rem;
  }
}
.detail_frame .name {
  padding-top: 10px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.45;
}
@media only screen and (min-width: 768px) {
  .detail_frame .name {
    padding-top: 16px;
    font-size: 4rem;
  }
}
.detail_frame .date {
  font-weight: 700;
  padding-top: 20px;
}
.detail_frame .list_tag {
  padding-top: 20px;
}
@media only screen and (min-width: 768px) {
  .detail_frame .list_tag .tag {
    padding: 5px 30px;
  }
}
.detail_frame .img {
  padding-top: 30px;
}
@media only screen and (min-width: 768px) {
  .detail_frame .img {
    padding-top: 60px;
  }
}
.detail_frame .txt {
  padding-top: 30px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.8;
}
@media only screen and (min-width: 768px) {
  .detail_frame .txt {
    padding-top: 52px;
    font-size: 2rem;
  }
}
.detail_frame .sub_name {
  padding-top: 40px;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .detail_frame .sub_name {
    padding-top: 80px;
    font-size: 3rem;
  }
}
.detail_frame .sub_txt {
  padding-top: 15px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.8;
}
@media only screen and (min-width: 768px) {
  .detail_frame .sub_txt {
    padding-top: 30px;
    font-size: 2rem;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 10px 0 20px;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  .social {
    padding: 18px 16px;
    margin-top: 96px;
  }
}
.social_txt {
  padding-top: 8px;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.4285714286;
}
@media only screen and (min-width: 768px) {
  .social_txt {
    padding-top: 0;
    padding-right: 10px;
  }
}
.social .icon {
  padding-top: 8px;
  padding-left: 8px;
  transition: 0.5s;
}
@media only screen and (min-width: 768px) {
  .social .icon {
    padding-top: 0;
    padding-left: 20px;
  }
}
.social .icon:hover {
  opacity: 0.8;
}

/* news ◁ -- */

/*# sourceMappingURL=news.css.map */
