.main_article_wrap {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}
.main_article_image {
  overflow: hidden;
}
.main_article_image img {
  transition: 600ms ease-in-out;
}
.main_article_content {
  margin-top: 30px;
}
.main_article_content .time {
  display: flex;
  align-items: center;
}
.main_article_content .tag {
  font-weight: 700;
  line-height: 1.45;
  color: #333;
  font-size: 1.6rem;
  position: relative;
  margin-right: 15px;
  padding-right: 15px;
}
.main_article_content .tag::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 80%;
  background-color: #333;
  transform: translateY(-50%);
}
.main_article_content .date {
  font-weight: 700;
  line-height: 1.5;
  color: #333;
  font-size: 1.4rem;
}
.main_article_content .title {
  font-weight: 700;
  line-height: 1.5;
  color: #333;
  font-size: 1.6rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main_article_content .txt {
  font-weight: 500;
  line-height: 1.5;
  color: #333;
  font-size: 1.4rem;
  margin-bottom: 40px;
}
.main_article_content .cates .nav_link {
  font-weight: 500;
  line-height: 1.4285714286;
  color: #333;
  font-size: 1.2rem;
  min-width: 90px;
  display: inline-block;
  padding: 4px 10px;
  text-align: center;
  border-radius: 999px;
  background-color: #EEF1F9;
  margin-top: 5px;
}
@media only screen and (min-width: 768px) {
  .main_article_wrap {
    display: flex;
    justify-content: space-between;
  }
  .main_article_wrap:hover img {
    transform: scale(1.1);
  }
  .main_article_image {
    width: calc(40% - 20px);
  }
  .main_article_content {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  .main_article_content .tag {
    font-size: 2rem;
    display: inline-block;
    margin-right: 22px;
    padding-right: 30px;
  }
  .main_article_content .time {
    justify-content: flex-start;
  }
  .main_article_content .date {
    font-size: 1.6rem;
  }
  .main_article_content .title {
    font-size: 3rem;
    margin-top: 40px;
    margin-bottom: 27px;
  }
  .main_article_content .txt {
    font-size: 1.6rem;
  }
  .main_article_content .cates {
    margin-top: auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  .main_article_content .cates .nav_link {
    font-size: 1.4rem;
    padding: 6px 22px;
    transition: 300ms ease-in-out;
  }
  .main_article_content .cates .nav_link:hover {
    opacity: 1;
  }
}
@media only screen and (min-width: 992px) {
  .main_article_wrap {
    margin-top: 110px;
    margin-bottom: 116px;
  }
  .main_article_image {
    width: calc(100% - 440px);
  }
  .main_article_content {
    width: 400px;
  }
  .main_article_content .cates .nav_link {
    margin-top: 0;
  }
}

.tag_lists_block {
  margin-bottom: 30px;
}
.tag_lists_block_container {
  padding: 20px;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
.tag_lists_block_title {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #333;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .tag_lists {
    width: calc(100% - 220px);
    padding-left: 43px;
  }
  .tag_lists_block {
    margin-bottom: 60px;
  }
  .tag_lists_block_container {
    display: flex;
    padding-top: 16px;
    padding-bottom: 14px;
    position: relative;
  }
  .tag_lists_block_container::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    left: 240px;
    background-color: #CCC;
  }
  .tag_lists_block_title {
    width: 220px;
    text-align: center;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 992px) {
  .tag_lists_block_container {
    padding-left: 0;
    padding-right: 0;
  }
  .tag_lists_block_container::after {
    left: 220px;
  }
}

/*# sourceMappingURL=top.css.map */
